{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div id="userhome">
    <section id="hero-banner" >
        <div class="banner-inner">
            <div class="container" my-4>
                <div class="row">
                    <div class="hero-text mt-5 text-center">

                        <h2 style=" border-radius: 5px;color:#333;border: outset;font-size: xxx-large;dominant-baseline: alphabetic;background-color: whitesmoke;">  New Way To Build Healthy, Lifestyle!                  </h2>
                        <p class="text-center" style=" border-radius: 5px;text-align-last: center;background-color: whitesmoke;color: #333;border: outset;font-size: xx-large;dominant-baseline: alphabetic;">UPGRADE YOUR BODY AT HIGHFITNESS CLUB!</p>
                        <a class="btn btn-danger btn-lg" href="#" style=" border-radius: 6px;background-color:#222;">Start Now</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#main-slider-->

    <section id="services" style="background: #222;">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Whats Best For You</h2>
                <p class="wow fadeInDown" style="font-family: calibri;visibility: visible;animation-name: fadeInDown;">
                     <br> </p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-futbol-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" style="font-family:calibri;">Aerobic</h4>
                                <p style="font-family:calibri;">Aerobics is a form of physical exercise that combines rhythmic aerobic exercise with stretching and strength training routines with the goal of improving all.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"  style="font-family:calibri;">Cardio</h4>
                                <p  style="font-family:calibri;">Cardio is defined as any type of exercise that gets your heart rate up and keeps it up for a prolonged period of time.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"  style="font-family:calibri;">Six Pack</h4>
                                <p  style="font-family:calibri;">In certain sports, such as track, gymnastics or triathlon, having a low body fat percentage that shows off a six-pack is helpful because it means you have less body mass to carry as you move. In bodybuilding or figure competitions, a low body fat level and cut, six-pack abs are a must to scoring points with judges.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"  style="font-family:calibri;">Classes</h4>
                                <p  style="font-family:calibri;">We have rounded up five gym classes that will guarantee visible results while ensuring that you become a better athlete.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"  style="font-family:calibri;">Special Trainer</h4>
                                <p  style="font-family:calibri;"> Personal trainers may specialize in a certain training type, training philosophy, performance type, exercise modality, or client population. In general, most personal trainers develop exercise plans for aerobic exercise, resistance exercise, and/or flexibility training.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"  style="font-family:calibri;">Health Sports</h4>
                                <p  style="font-family:calibri;">Sports have an immense impact on a person's daily life and health. They do not just give you an interesting routine but also a healthy body. Getting indulged in physical activities like sports improves your heart function, reduces the risks of diabetes, controls blood sugar and lowers tension and stress level.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#services-->


    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown"  style="font-family:calibri;">Who we are</h2>
                <p class="wow fadeInDown"  style="font-family:calibri;font-size: larger;">We all know that going to the gym is good for your health and we are all aware that we should be a bit more active. Joining a gym makes doing these things a lot.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="{% static 'images/home.jpg' %}" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title"  style="font-family:calibri;font-size: larger;">Our Fitness Studio</h3>
                    <p  style="font-family:calibri;font-size: larger;">Fitness Studio. A type of building or property with specific gym equipment and other facilities that offer various types of exercise groups and space for people of all age and ability to exercise or use gym equipment to improve or maintain their health.</p>
                    <ul class="listarrow">
                        <li><i class="fa fa-angle-double-right"  style=" font-size: larger;font-family:calibri;font-size: larger;"></i>Aerobic</li>
                        <li><i class="fa fa-angle-double-right"  style="font-size: larger;font-family:calibri;font-size: larger;"></i>Cardio</li>
                        <li><i class="fa fa-angle-double-right"  style="font-size: larger;font-family:calibri;font-size: larger;"></i>Abdomen</li>
                        <li><i class="fa fa-angle-double-right"  style="font-size: larger;font-family:calibri;font-size: larger;"></i>Special Trainer</li>
                        <li><i class="fa fa-angle-double-right"  style="font-size: larger;font-family:calibri;font-size: larger;"></i>Round the clock</li>
                    </ul>


                </div>
            </div>
        </div>
    </section>
    <!--/#about-->

    
    <!--/#our-team-->

    <section id="portfolio" > 
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown"  style="font-family:calibri;">Gallery</h2>
                <p class="wow fadeInDown"  style="font-family:calibri;font-size: larger;">Take a tour around our facility. Click on the images below to Enlarge.</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*"  style="font-family:calibri;font-size: larger;">All Works</a></li>
                    <li><a href="#" data-filter=".designing" style="font-family:calibri;font-size: larger;">Pro Workout</a></li>
                    <li><a href="#" data-filter=".mobile"  style="font-family:calibri;font-size: larger;">Intermediate</a></li>
                    <li><a href="#" data-filter=".development"  style="font-family:calibri;font-size: larger;">Basic</a></li>
                </ul>
                <!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/a.jpg ' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/a.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/b.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/b.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item designing">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/c.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/c.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/d.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/d.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/e.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/e.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/f.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/f.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item designing development">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/g.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/g.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->

                <div class="portfolio-item mobile">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{% static 'images/portfolio/h.jpg' %}" alt="">
                        <div class="portfolio-info">
                            <a class="preview" href="{% static 'images/portfolio/h.jpg' %}" rel="prettyPhoto"><i
                                    class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <!--/.portfolio-item-->
            </div>
        </div>
        <!--/.container-->
    </section>




     <section class="feature" id="feature" style="background-color:#222 ;padding: 6rem 0;">
        <div class="container">
            <div class="row"    style="background-color:#222;">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">New to the gym?</h2>

                    <h2 class="mb-4 text-white" data-aos="fade-up">Your membership is up to 2 months FREE (₹2000 per month)</h2>

                    <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate" style="font-size: large;font-family: calibri;">Forever fit, forever strong! Get a jump on your day! Close to Home. Close to Work.</p>
                    {% comment %} <button type="submit" href="/contact/" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm"    style=" border-radius: 4px;border-width: medium;font-size: large;font-family: calibri;background-color: #f9690e;">Become a member today! simply contactUs</button> {% endcomment %}
                    <a href="contact/" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300" data-toggle="modal" data-target="#membershipForm"    style=" border-radius: 4px;border-width: medium;font-size: large;font-family: calibri;background-color: #f9690e;">Become a member today!</a>
                    <a class="btn btn-primary" href="/contact/"  style=" border-radius: 4px;border-width: medium;font-size: large;font-family: calibri;background-color: #f9690e;border-color: #ffc107;" data-target="#membershipForm">Get It Now!</a>
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                     <div class="about-working-hours">
                          <div>

                                <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>

                               <strong class="d-block" data-aos="fade-up" data-aos-delay="600" style="font-size: large;font-family: calibri;color: whitesmoke;">Sunday : Closed</strong>

                               <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700" style="font-size: large;font-family: calibri;color: whitesmoke;">Monday - Friday</strong>

                                <p data-aos="fade-up" data-aos-delay="800" style="font-size: large;font-family: calibri;">7:00 AM - 10:00 PM</p>

                                <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700" style="font-size: large;font-family: calibri; color: whitesmoke;">Saturday</strong>

                                <p data-aos="fade-up" data-aos-delay="800" style="font-size: large;font-family: calibri;">6:00 AM - 4:00 PM</p>
                               </div>
                          </div>
                     </div>
                </div>

            </div>
        </div>
    </section>





    <!--/#portfolio-->

    <section id="pricing" style="background: #222;">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown" style="font-family:calibri;">Limitted Offers</h2>
                <p class="wow fadeInDown" style="font-family:calibri;font-size: larger;">Optional Offers and in this example could be ₱ 4000 a month. Optional Offers is where a gym could offer a lower price, say ₱7000 for two months and the customer would have the flexibility to select the optional add-ons they require.</p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 bg-success">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱2000
                                    </span>
                                    <span class="duration">
                                        Per month.
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Basic
                                </div>
                            </li>
                            
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED</li><strong> HIGHFITNESS</strong><li> CERTIFICATE</li>
                            <li><strong>PERSONAL</strong>TRAINER</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="/contact/">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-primary">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱3000
                                    </span>
                                    <span class="duration">
                                        Two months.
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Bronze
                                </div>
                            </li>
                            
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED</li><strong> HIGHFITNESS</strong><li> CERTIFICATE</li>
                            <li><strong>PERSONAL</strong>TRAINER</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="/contact/">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-danger">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ₱7000
                                    </span>
                                    <span class="duration">
                                        Six months.
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Silver
                                </div>
                            </li>
                            
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED</li><strong> HIGHFITNESS</strong><li> CERTIFICATE</li>
                            <li><strong>PERSONAL</strong>TRAINER</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="/contact/">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-warning">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                       ₱12000
                                    </span>
                                    <span class="duration">
                                        One Year.
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Gold
                                </div>
                            </li>
                            
                            
                            <li><strong>UNLIMITED</strong> BANDWIDTH</li>
                            <li>SHARED</li><strong> HIGHFITNESS</strong><li> CERTIFICATE</li>
                            <li><strong>PERSONAL</strong>TRAINER</li>
                            <li><strong>24/7</strong> SUPPORT</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="/contact/">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <!--/#pricing-->



    <section id="business-stats">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Health Report</h2>
                <p class="wow fadeInDown">It Can Make You Feel Happier. It Can Help With Weight Loss. It Is Good for Your Muscles and Bones. It Can Increase Your Energy Levels. It Can Reduce Your Risk of Chronic Disease. It Can Help Skin Health. It Can Help Your Brain Health and Memory</p>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="business-stats" data-digit="1000" data-duration="1000"></div>
                        <strong>Clients</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="business-stats" data-digit="2000" data-duration="1000"></div>
                        <strong>Trainer</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="business-stats" data-digit="3000" data-duration="1000"></div>
                        <strong>Programs</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="business-stats" data-digit="4000" data-duration="1000"></div>
                        <strong>Successes</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#business-stats--> {% endcomment %}







     <!-- CONTACT -->
     <section class="map section" id="map" style="background: #222;margin-left: -90px;">
          <div class="container">
               <div class="row" style="margin-left: -135px; margin-bottom: 35px; margin-top: -30px;">

                    

                    <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                        
                    
                          <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1200&amp;height=500&amp;hl=en&amp;q=highfit+fitness+club+balewadi&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.fnfgo.com/">FNF Mods</a></div><style>.mapouter{position:relative;text-align:right;width:700px;height:450px;border-radius:6px;}.gmap_canvas {overflow:hidden;background:none!important;width:700px;height:450px;border-radius:6px;}.gmap_iframe {width:700px!important;border-radius:6px;height:450px!important;}</style>
                        
                          </div>
                           <!-- <iframe src="https://www.google.com/search?sa=X&biw=1294&bih=637&tbs=lf:1,lf_ui:14&tbm=lcl&sxsrf=ALeKk01wcQ1CqatX7AqUnfk1xGUn5ieA8g:1627363816601&q=highfit+fitness+club&rflfq=1&num=10&ved=2ahUKEwjwrNXRwoLyAhUozjgGHS90CmkQtgN6BAgFEAQ" width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
                    
                    
                    
               </div>
          </div>
     </section>










     <!-- SCHEDULE -->
     <section class="schedule section" id="schedule" style="background: #222">
               <div class="container">
                    <div class="row">

                            <div class="col-lg-12 col-12 text-center">
                                <h6 data-aos="fade-up" style="color:whitesmoke">our weekly GYM schedules</h6>

                                <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Workout Timetable</h2>
                             </div>

                             <div class="col-lg-12 py-5 col-md-12 col-12">
                                 <table class="table table-bordered table-responsive schedule-table" data-aos="fade-up" data-aos-delay="300">

                                     <thead class="thead-light">
                                         <th><i class="fa fa-calendar"></i></th>
                                         <th>Mon</th>
                                         <th>Tue</th>
                                         <th>Wed</th>
                                         <th>Thu</th>
                                         <th>Fri</th>
                                         <th>Sat</th>
                                     </thead>

                                     <tbody style="color:whitesmoke">
                                         <tr>
                                            <td><small>7:00 am</small></td>
                                            <td>
                                                <strong>ABS</strong>
                                                <span>7:00 am - 9:00 am</span>
                                            </td>
                                            <td>
                                                <strong>CIRCUIT</strong>
                                                <span>7:00 am - 9:00 am</span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <strong>CROSSFIT</strong>
                                                <span>7:00 am - 9:00 am</span>
                                            </td>
                                         </tr>

                                         <tr style="color:whitesmoke">
                                            <td><small>9:00 am</small></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <strong>YOGA</strong>
                                                <span>8:00 am - 9:00 am</span>
                                            </td>
                                            <td>
                                                <strong>ZUMBA</strong>
                                                <span>8:00 am - 9:00 am</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <strong>BOLLYWOOD</strong>
                                                <span>8:00 am - 9:00 am</span>
                                            </td>
                                         </tr>

                                         <tr style="color:whitesmoke">
                                            <td><small>11:00 am</small></td>
                                            <td></td>
                                            <td>
                                                <strong>ABS</strong>
                                                <span>11:00 am - 2:00 pm</span>
                                            </td>
                                            <td>
                                                <strong>ZUMBA</strong>
                                                <span>11:30 am - 3:30 pm</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <strong>CROSS FIT</strong>
                                                <span>11:50 am - 5:20 pm</span>
                                            </td>
                                         </tr>

                                         <tr style="color:whitesmoke">
                                            <td><small>2:00 pm</small></td>
                                            <td>
                                                <strong>CIRCUIT</strong>
                                                <span>2:00 pm - 4:00 pm</span>
                                            </td>
                                            <td>
                                                <strong>ABS</strong>
                                                <span>3:00 pm - 6:00 pm</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <strong>YOGA</strong>
                                                <span>6:00 pm - 9:00 pm</span>
                                            </td>
                                            <td></td>
                                            <td>
                                                <strong>BOLLYWOOD</strong>
                                                <span>5:00 pm - 7:00 pm</span>
                                            </td>
                                         </tr>
                                     </tbody>
                                 </table>
                             </div>

                    </div>
               </div>
     </section>


    
</div>
{% endblock %}

{% block footer %}
<footer id="footer" class="footer" style="background: #222;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-white" style="font-family:calibri;"> Rights @2021 | Gym Management System | All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/profile.php?id=100030028895372&__cft__[0]=AZXmpL4ZNnSOY2jsxkhNJ3qjCVCj9dHJiY46vECJb2jDkWnJzajwBpgkxyQXheoBGLXbmuHd2_iw1HOXZrhr83Doz-w5slol0thzs_BEMSjcYfgvfaxa_QCVCmcMFa8DHu8&__tn__=-]C%2CP-R"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a  href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}